.posts-page {
  .posts-list {
    font-size: var(--font-20);
    text-transform: capitalize;
    &__item {
      list-style-type: '✏️';
      margin: var(--s-1_5);
      padding-left: var(--s-1);
    }
    &__item-link {
      color: var(--color);
    }
  }
}
