@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  // Colors
  --dark: #0d1219;
  --dark-secondary: #1b293c;
  --dark-blue: #084177;
  --bluish: #eef;
  --skyblue: #06cdff;
  --orange: #ff9000;
  --white: #fff;
  --white-secondary: #eee;
  --black: #000;
  --black-secondary: rgba(0, 0, 0, 0.8);
  --grey: #868e95;
  --greyish: #c2ccd7;
  --greyish-secondary: #c4c4c4;
  --shadow: 0 0 1rem 0.2rem var(--dark-secondary);

  --bg: var(--dark);
  --bg-invert: var(--white);
  --bg-secondary: var(--dark-secondary);
  --header-bg: var(--dark-blue);
  --color: var(--greyish);
  --color-invert: var(--dark);
  --color-secondary: var(--greyish-secondary);

  --link: var(--skyblue);
  --link-active: var(--orange);

  // Fonts
  --font-72: 4.5rem;
  --font-48: 3rem;
  --font-40: 2.5rem;
  --font-36: 2.25rem;
  --font-32: 2rem;
  --font-28: 1.75rem;
  --font-24: 1.5rem;
  --font-20: 1.25rem;
  --font-16: 1rem;
  --font-14: 0.875rem;
  --font-12: 0.75rem;

  // Spacing
  --s-0_25: 0.25rem;
  --s-0_5: 0.5rem;
  --s-0_75: 0.75rem;
  --s-1: 1rem;
  --s-1_25: 1.25rem;
  --s-1_5: 1.5rem;
  --s-1_75: 1.75rem;
  --s-2: 2rem;
  --s-2_25: 2.25rem;
  --s-2_5: 2.5rem;
  --s-2_75: 2.75rem;
  --s-3: 3rem;
  --s-3_25: 3.25rem;
  --s-3_5: 3.5rem;
  --s-3_75: 3.75rem;
  --s-4: 4rem;
  --s-4_25: 4.25rem;
  --s-4_5: 4.5rem;
  --s-4_75: 4.75rem;
  --s-5: 5rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-16);
}

@media only screen and (max-width: 599px) {
  html {
    font-size: var(--font-14);
  }
}

body {
  margin: 0;
  background: var(--bg);
  background-attachment: fixed;
  color: var(--color) !important;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    color: var(--link);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active,
    &.active {
      color: var(--link-active);
    }
  }
}

header {
  height: 4rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: var(--s-1_25);
}

main {
  min-height: calc(100vh - 4rem); // vh - header height
}
