.post-details-page {
  .post-content {
    padding: var(--s-1);
    &__title {
      text-transform: capitalize;
    }
    &__body {
      line-height: 1.5rem;
      letter-spacing: 0.05rem;
    }
  }
  .comments-container {
    .comments-list {
      .comment-item {
        list-style-type: '✍️';
        padding-left: var(--s-1);
        margin-bottom: var(--s-2);
        border-bottom: 1px dashed var(--color-secondary);
        .author {
          text-transform: capitalize;
          font-weight: bold;
        }
      }
    }
  }
}
